# Verificar compatibilidad de engines durante la instalación
engine-strict=true

# Usar la versión de Node especificada en package.json
use-node-version=22.20.0

# Requerido por Electron Forge para funcionar correctamente con pnpm
node-linker=hoisted
